<!doctype html>
<html
  lang="{{ or site.Language.LanguageCode }}"
  dir="{{ or site.Language.LanguageDirection `ltr` }}"
>
  <head>
    {{- $description := or .Description .Summary site.Params.description | plainify | htmlUnescape | chomp -}}

    <meta charset="utf-8" />
    <meta name="language" content="{{ site.Language.LanguageName | default "en" }}" />
    <meta name="viewport" content="width=device-width" />

    <title>
      {{- if .IsHome }}
        {{ site.Title }}
      {{- else }}
        {{ printf "%s | %s" .Title site.Title }}
      {{- end }}
    </title>

    {{- with $description }}
      <meta name="description" content="{{ $description }}" />
    {{- end }}

    {{- with site.Author }}
      <meta name="author" content="{{ . }}" />
    {{- end }}

    {{ if eq "404" .Kind -}}
      <meta name="robots" content="noindex" />
    {{ end -}}

    {{ if fileExists "static/images/favicon.svg" -}}
      <link rel="icon" type="image/svg+xml" href="/images/favicon.svg" />
    {{ end -}}

    {{ if fileExists "static/images/favicon.png" -}}
      <link rel="icon" type="image/png" href="/images/favicon.png" />
    {{ end -}}

    <link rel="canonical" href="{{ .Permalink }}" />

    {{- range .AlternativeOutputFormats -}}
      <link rel="{{ .Rel }}" type="{{ .MediaType.Type }}" href="{{ .Permalink | safeURL }}" />
    {{- end }}

    {{- with resources.Get "spectre.min.css" }}
      <link rel="stylesheet" href="{{ .RelPermalink }}" />
    {{- end }}

    {{- with resources.Get "spectre-exp.min.css" }}
      <link rel="stylesheet" href="{{ .RelPermalink }}" />
    {{- end }}

    {{- with resources.Get "spectre-icons.min.css" }}
      <link rel="stylesheet" href="{{ .RelPermalink }}" />
    {{- end }}

    {{- with resources.Get "micromegas.css" }}
      <link rel="stylesheet" href="{{ .RelPermalink }}" />
    {{- end }}
  </head>
  <body>
    <a class="text-assistive" href="#main">
      Skip navigation
    </a>

    <div class="container">
      <div class="columns">
        <div class="column col-12">
          <header class="navbar my-6">
            <section class="navbar-section">
              <a class="navbar-brand text-bold text-dark" href="{{ .Site.Home.RelPermalink }}">
                {{ site.Title }}
              </a>
            </section>

            <section class="navbar-section">
              {{ range .Site.Menus.main }}
                <a href="{{ .URL }}" class="btn btn-link">{{ .Name }}</a>
              {{ end }}
            </section>
          </header>

          <main id="main" class="my-6 py-6">
            {{ block "main" . }}{{ end }}
          </main>

          <footer class="my-6">
            <div class="divider"></div>

            {{- with site.Copyright }}
              <p class="text-gray">
                <small>{{ . }}</small>
              </p>
            {{- end }}
          </footer>
        </div>
      </div>
    </div>
  </body>
</html>
