body {
  border-top: 2px solid #000000;
  color: #3c3c3c;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a {
  color: #3c3c3c;
  font-size: 0.875em;
  font-variant-caps: all-petite-caps;
  letter-spacing: 0.12em;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a.shy {
  color: #a2a2a2;
  letter-spacing: 0;
}

h1 {
  text-align: center;
}

h1 span {
  display: none;
}

h1 img {
  width: 19vw;
  max-width: 214px;

  margin: 1vw;
}

h2 {
  font-variant-caps: small-caps;
  color: #3c3c3c;
  color: #a2a2a2;
  font-size: 0.875em;
  letter-spacing: 0.12em;
}

p {
  text-align: center;
}

p a+a {
  margin-left: 1em;
}

ul {
  text-align: left;
  padding-left: 1em;
}

li {
  list-style: none;
}

li:before {
  content: "—";
}

#main {
  margin-left: auto;
  margin-right: auto;
  min-width: 270px;
  padding-top: 10vh;
  text-align: left;
  width: 50vw;
}
